[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = "*"
click = "*"
requests = "*"
i18n-subsites = "*"
pelican-i18n-subsites = "*"

[requires]
python_version = "3.7"
