[tool.poetry]
name = "under-the-surface"
version = "0.1.0"
description = ""
authors = ["Mark Hall <mark.hall@work.room3b.eu>"]
license = "CC-BY-SA-4.0"

[tool.poetry.dependencies]
python = "^3.7"
pelican = "^4.5.0"
click = "^7.1.2"
requests = "^2.24.0"
babel = "^2.8.0"
lxml = "^4.6.1"
sqlalchemy = "^1.3.20"
jinja2 = "^2.11.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
