{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<main>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <h1>{{ article.title }}</h1>
    </div>
    <article class="cell small-12 medium-8 large-8">
      {{ article.content }}
    </article>
    <aside class="cell small-12 medium-4 large-offset-1 large-3">
      <dl>
        <dt>Written on</dt>
        <dd>{{ article.date|strftime('%d.%m.%Y')}}</dd>
        <dt>Author</dt>
        <dd><a href="{{ SITE_URL }}/{{ article.author.url }}">{{ article.author }}</a></dd>
        <dt>Category</dt>
        <dd><a href="{{ SITE_URL }}/{{ article.category.url }}">{{ article.category }}</a></dd>
      </dl>
    </aside>
  </div>
</main>
{% endblock content %}
