{% extends 'base.html' %}

{% block title %}{% trans %}Articles written by {{ author }}{% endtrans %}{% endblock title %}

{% block content %}
<main>
  <div class="grid-x grid-padding-x margin-bottom">
    <div class="cell small-12">
      <h1>{% trans %}Articles written by {{ author }}{% endtrans %}</h1>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    {% for article in articles %}
      <article class="cell small-12 medium-6 large-4">
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        <div class="metadata">{{ article.date|strftime('%d.%m.%Y') }} {% trans %}by{% endtrans %} <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></div>
        {{ article.summary }}
        <p class="text-right"><a href="{{ SITEURL }}/{{ article.url }}">{% trans %}Read more{% endtrans %}</a></p>
      </article>
    {% endfor %}
  </div>
</main>
{% endblock content %}
