{% extends 'base.html' %}

{% block title %}Browse{% endblock title %}

{% block content %}
<main>
  <h1 class="show-for-sr">Browse the People</h1>
  <div class="grid-x grid-padding-x">
    <section class="cell small-12 medium-6">
      <h2>Alphabetic</h2>
      <ul class="no-bullet">
        {% for grouper, group in pages|selectattr('type', 'eq', 'person')|groupby(attribute='firsttitleletter') %}
          <li><span class="sc">{{ grouper }}</span>
            <ul class="no-bullet">
              {% for child in group %}
                <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</main>
{% endblock %}
