{% extends 'base.html' %}

{% block title %}{% trans %}Browse{% endtrans %}{% endblock title %}

{% block content %}
<main>
  <h1 class="show-for-sr">{% trans %}Browse the People{% endtrans %}</h1>
  <div class="grid-x grid-padding-x">
    <section class="cell small-12 medium-6">
      <h2>{% trans %}Alphabetic{% endtrans %}</h2>
      <ul class="no-bullet">
        {% for grouper, group in people|groupby(attribute='first_title_letter') %}
          <li><span class="sc">{{ grouper }}</span>
            <ul class="no-bullet">
              {% for child in group %}
                <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</main>
{% endblock %}
