{% extends 'base.html' %}

{% block content %}
<main>
  <div class="grid-x grid-padding-x large-margin-bottom">
    <div class="cell small-12 medium-6">
      <p>{% trans %}Welcome Text{% endtrans %}</p>
    </div>
    <div class="cell hide-for-small-only medium-6" style="padding-left: 4rem;padding-right: 4rem;">
      <form class="input-group">
        <label for="searchbox" class="input-group-label">
          <svg viewBox="0 0 24 24" class="icon">
            <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
          </svg>
        </label>
        <input id="searchbox" type="search" name="q" class="input-group-field" tabindex="0"/>
        <div class="input-group-button">
          <input type="submit" value="{% trans %}Search{% endtrans %}" class="button"/>
        </div>
      </form>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    {% for article in articles %}
      <article class="cell small12 medium-6 large-4">
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        <div class="metadata">{{ article.date|strftime('%d.%m.%Y') }} by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></div>
        {{ article.summary }}
        <p class="text-right"><a href="{{ SITEURL }}/{{ article.url }}">{% trans %}Read more{% endtrans %}</a></p>
      </article>
    {% endfor %}
  </div>
</main>
{% endblock content %}
