{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<main>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-8">
      <section>{{ page.content }}</section>
      <section>
        <h2>Works</h2>
      </section>
      <section>
        <h2>Links</h2>
      </section>
    </div>
    <aside class="cell small-12 medium-4">
      <h2>About</h2>
      <dl>
        {% for label, field, url in PERSON_METADATA %}
          {% if page[field] and page[field][page.lang] %}
            <dt>{{ label }}</dt>
            <dd>
              <ul class="no-bullet">
                {% for value in page[field][page.lang] %}
                  <li>{{ value }}</li>
                {% endfor %}
              </ul>
            </dd>
          {% endif %}
          {% if page.links[field] %}
            <dt>{{ label }}</dt>
            <dd>
              <ul class="no-bullet">
                {% for value in page.links[field] %}
                  <li><a href="{{ url|format(value) }}" rel="noopener">{{ value }}</a></li>
                {% endfor %}
              </ul>
            </dd>
          {% endif %}
        {% endfor %}
      </dl>
    </aside>
  </div>
</main>
{% endblock content %}
