{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
{% import 'macros.html' as macros %}
<main class="person">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-7 large-8">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="cell hide-for-small medium-4 medium-offset-1 large-3">
      <h2>{% trans %}Personal Information{% endtrans %}</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <article class="cell small-12 medium-7 large-8">
      <section>
        {{ page.content }}
        <div class="text-right">
          <a data-action="read-more"><span class="more">{% trans %}Read more{% endtrans %}</span><span class="less">{% trans %}Show less{% endtrans %}</span></a>
        </div>
      </section>
      <section class="digitised-works">
        <h2>{% trans %}Digitised Works{% endtrans %}</h2>
        <ul class="no-bullet">
          {% for category, works in page.work|selectattr('copies')|groupby(attribute='category') %}
            <li><h3>{{ category }}</h3>
              <ol class="no-bullet">
                {% for work in works|sort(attribute='year,title') %}
                  <li class="grid-x grid-padding-x">
                    <span class="cell auto">{{ work.title }}</span>
                    <span class="cell shrink">
                      {% if work.copies.values()|selectattr('read_url')|list|length > 0 %}
                        {% if work.copies.values()|length == 1 %}
                          {% with %}
                            {% set copy=work.copies.values()|first %}
                            <a data-tippy-content="{% trans %}Read this work online{% endtrans %}" data-tippy-placement="bottom" data-tippy-delay="500" data-tei-reader-url="{{ SITEURL }}/{{ copy.read_url.value }}">
                              <svg viewBox="0 0 24 24" class="icon" aria-label="{% trans title=work.title, provider=copy.provider.label %}Read {{ title }} provided by  {{ provider }}{% endtrans %}">
                                <path d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z" />
                              </svg>
                            </a>
                          {% endwith %}
                        {% else %}
                          <a data-toggle="read-work-{{ loop.index0 }}">
                            <svg viewBox="0 0 24 24" class="icon" aria-label="{% trans title=work.title %}Read {{ title }}{% endtrans %}">
                              <path d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z" />
                            </svg>
                          </a>
                          <div id="read-work-{{ loop.index0 }}" class="dropdown-pane" data-dropdown="" data-position="bottom" data-alignment="right" data-hover="true" data-hover-pane="true">
                            <ul class="no-bullet">
                              {% for copy in work.copies.values() %}
                                <li class="grid-x grid-padding-x">
                                  <span class="cell auto">{{ copy.provider.label }}</span>
                                  <span class="cell shrink">
                                    <a data-tippy-content="{% trans %}Read this work online{% endtrans %}" data-tippy-placement="bottom" data-tippy-delay="500">
                                      <svg viewBox="0 0 24 24" class="icon" aria-label="{% trans title=work.title, provider=copy.provider.label %}Read {{ title }} provided by  {{ provider }}{% endtrans %}">
                                        <path d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z" />
                                      </svg>
                                    </a>
                                  </span>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      {% endif %}
                      <a data-toggle="download-work-{{ loop.index0 }}">
                        <svg viewBox="0 0 24 24" class="icon" aria-label="{% trans title=work.title %}Download {{ title }}{% endtrans %}">
                          <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
                        </svg>
                      </a>
                      <div id="download-work-{{ loop.index0 }}" class="dropdown-pane" data-dropdown="" data-position="bottom" data-alignment="right" data-hover="true" data-hover-pane="true">
                        <ul class="no-bullet">
                          {% for copy in work.copies.values() %}
                            <li class="grid-x grid-padding-x">
                              <span class="cell auto">{{ copy.provider.label }}</span>
                              <span class="cell shrink">{{ macros.license_block(copy.license) }}</span>
                              <span class="cell shrink">
                                <a href="{{ copy.data.value }}" rel="noopener" data-tippy-content="{% trans %}Download this work as TEI{% endtrans %}" data-tippy-placement="bottom" data-tippy-delay="500">
                                  <svg viewBox="0 0 24 24" class="icon" aria-label="{% trans title=work.title, provider=copy.provider.label %}Download {{ title }} provided by  {{ provider }}{% endtrans %}">
                                    <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
                                  </svg>
                                </a>
                              </span>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% if work.year != 10000 %}
                        <a data-action="toggle-display" data-toggle-display="#book-metadata-{{ loop.index0 }}">
                          <svg viewBox="0 0 24 24" class="icon" aria-label="{% trans title=work.title %}See more details on {{ title }}{% endtrans %}">
                            <path d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4  13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                          </svg>
                        </a>
                      {% endif %}
                    </span>
                    <div id="book-metadata-{{ loop.index0 }}" class="cell small-12 book-metadata hidden">
                      <dl class="grid-x grid-padding-x">
                        {% if work.year != 10000 %}
                          <dt class="cell small-12 medium-4">Published</dt>
                          <dd class="cell small-12 medium-8">{{ work.year }}</dd>
                        {% endif %}
                      </dl>
                    </div>
                  </li>
                {% endfor %}
              </ol>
            </li>
          {% else %}
            {% if page.work|length > 0 %}
              <li>{% trans count=page.work|length %}The author's work has not been digitised.{% pluralize %}None of the author's {{ count }} works have been digitised.{% endtrans %}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>
      {% if page.work|rejectattr('copies')|list|length > 0 %}
        <section>
          <h2>{% trans %}Undigitised Works{% endtrans %}</h2>
          <ul class="no-bullet">
            {% for category, works in page.work|rejectattr('copies')|groupby(attribute='category') %}
              <li><h3>{{ category }}</h3>
                <ol class="no-bullet">
                  {% for work in page.work|rejectattr('copies')|sort(attribute='title') %}
                    <li>{{ work.title }}</li>
                  {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    </article>
    <aside class="cell small-12 medium-4 medium-offset-1 large-3">
      <section class="grid-x grid-padding-x">
        <div class="cell small-12 show-for-small-only">
          <h2>{% trans %}Personal Information{% endtrans %}</h2>
        </div>
        {% for label, field, type in PERSON_METADATA %}
          {% if page[field] and page[field] %}
            <section class="cell small-12">
              <h3>{{ label }}</h3>
              <ul class="no-bullet">
                {% for value in page[field] %}
                  <li>{% if type == 'timestamp' %}{{ value.value|format_timestamp }}{% else %}{% if value.label %}{{ value.label }}{% else %}{{ value.value }}{% endif %}{% endif %}</li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}
        {% endfor %}
      </section>
      {% if page.link %}
        <section class="grid-x grid-padding-x">
          <div class="cell small-12">
            <h2>{% trans %}Links{% endtrans %}</h2>
            <ul class="no-bullet">
              {% for link in page.link %}
                <li><a href="{{ link.value|escape }}" target="_blank" rel="noopener">{{ link.label }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </section>
      {% endif %}
      <section class="grid-x grid-padding-x">
        <div class="cell small-12">
          <h2>{% trans %}Unique Identifiers{% endtrans %}</h2>
          <ul class="no-bullet">
          {% for label, field, baseurl in PERSON_LINK_CATEGORIES %}
            {% if page[field] %}
              {% for value in page[field] %}
                <li><a href="{{ baseurl|format(value['value']) }}" target="_blank" rel="noopener">{{ value['value'] }} ({{ label }})</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
      <section>
        <h2 class="grid-x grid-padding-x">
          <span class="cell auto">{% trans %}Verification{% endtrans %}</span>
          <span class="cell shrink">
          {% if page.verification == 'full' %}
            <svg viewBox="0 0 24 24" class="icon success">
              <path d="M21,4H16V20H21V4M14,9H9V20H14V9M7,14H2V20H7V14Z" />
            </svg>
          {% elif page.verification == 'partial' %}
            <svg viewBox="0 0 24 24" class="icon warning">
              <path d="M19.5,5.5V18.5H17.5V5.5H19.5M21,4H16V20H21V4M14,9H9V20H14V9M7,14H2V20H7V14Z" />
            </svg>
          {% else %}
            <svg viewBox="0 0 24 24" class="icon alert">
              <path d="M19.5,5.5V18.5H17.5V5.5H19.5M12.5,10.5V18.5H10.5V10.5H12.5M21,4H16V20H21V4M14,9H9V20H14V9M7,14H2V20H7V14Z" />
            </svg>
          {% endif %}
        </h2>
        <div class="grid-x grid-padding-x">
          <div class="cell small-12">
            <p>
              {% if page.verification == 'full' %}
                {% trans %}All the information shown on this page have been manually verified. While this does not (and cannot) ensure that the information is always true, it is considered to be correct based on the currently available sources.{% endtrans %}
              {% elif page.verification == 'partial' %}
                {% trans %}Some of the information shown on this page has been manually verified.{% endtrans %}
              {% else %}
                {% trans %}None of the information on this page has been manually verified. This does not mean that it is not true, but its veracity is yet to be established.{% endtrans %}
              {% endif %}
            </p>
          </div>
        </div>
      </section>
    </aside>
    <section class="cell small-12">
      <h2>{% trans %}Sources{% endtrans %}</h2>
      <ul class="no-bullet grid-x grid-padding-x">
        {% for source in page.sources.values() %}
          <li class="cell small-12 margin-bottom">
            <div class="label">{{ source.label }}</div>
            <div class="source"><a href="{{ source.url|escape }}" target="_blank" rel="noopener">{{ source.url }}</a></div>
            <div class="timestamp">
              <ul class="inline">
                {% for timestamp in source.timestamps %}
                  <li>{{ timestamp|format_timestamp }}</li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
  <div id="reader-app" class="hidden">
    <div id="app"></div>
  </div>
</main>
{% endblock content %}

{% block body_scripts %}
<script id="TEIReaderConfig" type="application/json">
  {
      "sections": {
          "body": {
              "label": "{% trans %}Text{% endtrans %}",
              "type": "Text",
              "parser": {
                  "selector": "tei:text/tei:body"
              },
              "schema": [
                  {
                      "name": "text",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:seg",
                          "text": "text()"
                      }
                  },
                  {
                      "name": "byline",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:byline"
                      }
                  },
                  {
                      "name": "cell",
                      "type": "block",
                      "parser": {
                          "selector": "tei:cell"
                      }
                  },
                  {
                      "name": "choice-ref",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:ref[@type='choice']",
                          "text": "text()"
                      },
                      "attrs": {
                          "target": {
                              "parser": {
                                  "selector": "@target"
                              }
                          }
                      },
                      "reference": {
                          "type": "choice",
                          "attr": "target",
                          "display": "sidebar"
                      }
                  },
                  {
                      "name": "choice",
                      "type": "nested",
                      "parsers": {
                          "selector": "tei:choice"
                      },
                      "attrs": {
                          "id": {
                              "parser": {
                                  "selector": "@xml:id"
                              }
                          }
                      }
                  },
                  {
                      "name": "cit",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:cit"
                      }
                  },
                  {
                      "name": "corr",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:corr"
                      }
                  },
                  {
                      "name": "div",
                      "type": "block",
                      "parser": {
                          "selector": "tei:div"
                      }
                  },
                  {
                      "name": "doc-author",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:docAuthor"
                      }
                  },
                  {
                      "name": "doc-date",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:docDate"
                      }
                  },
                  {
                      "name": "doc-edition",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:docEdition"
                      }
                  },
                  {
                      "name": "doc-imprint",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:docImprint"
                      }
                  },
                  {
                      "name": "doc-title",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:docTitle"
                      }
                  },
                  {
                      "name": "head",
                      "type": "block",
                      "parser": {
                          "selector": "tei:head"
                      },
                      "attrs": {
                          "id": {
                              "parser": {
                                  "selector": "@xml:id"
                              }
                          }
                      },
                      "navigation": {
                          "attr": "id"
                      }
                  },
                  {
                      "name": "hi",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:hi"
                      }
                  },
                  {
                      "name": "item",
                      "type": "block",
                      "parser": {
                          "selector": "tei:item"
                      }
                  },
                  {
                      "name": "l",
                      "type": "block",
                      "parser": {
                          "selector": "tei:l"
                      }
                  },
                  {
                      "name": "lb",
                      "type": "block",
                      "parser": {
                          "selector": "tei:lb"
                      }
                  },
                  {
                      "name": "lg",
                      "type": "block",
                      "parser": {
                          "selector": "tei:lg"
                      }
                  },
                  {
                      "name": "list",
                      "type": "block",
                      "parser": {
                          "selector": "tei:list"
                      }
                  },
                  {
                      "name": "p",
                      "type": "block",
                      "parser": {
                          "selector": "tei:p"
                      }
                  },
                  {
                      "name": "pub-place",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:pubPlace"
                      }
                  },
                  {
                      "name": "publisher",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:publisher"
                      }
                  },
                  {
                      "name": "quote",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:quote"
                      }
                  },
                  {
                      "name": "ref",
                      "type": "inline",
                      "parser": {
                          "selector": "tei:ref"
                      }
                  },
                  {
                      "name": "row",
                      "type": "block",
                      "parser": {
                          "selector": "tei:row"
                      }
                  },
                  {
                      "name": "sic",
                      "type": "block",
                      "parser": {
                          "selector": "tei:sic"
                      }
                  },
                  {
                      "name": "table",
                      "type": "block",
                      "parser": {
                          "selector": "tei:table"
                      }
                  },
                  {
                      "name": "title-page",
                      "type": "block",
                      "parser": {
                          "selector": "tei:titlePage"
                      }
                  },
                  {
                      "name": "title-part",
                      "type": "block",
                      "parser": {
                          "selector": "tei:titlePart"
                      }
                  }
              ]
          },
          "metadata": {
              "label": "{% trans %}About{% endtrans %}",
              "type": "Metadata",
              "schema": [
                  {
                      "tag": "tei:fileDesc",
                      "children": [
                          {
                              "tag": "tei:titleStmt",
                              "children": [
                                  {
                                      "tag": "tei:title"
                                  },
                                  {
                                      "tag": "tei:author",
                                      "children": [
                                          {
                                              "tag": "tei:persName"
                                          }
                                      ]
                                  }
                              ]
                          },
                          {
                              "tag": "tei:publicationStmt",
                              "children": [
                                  {
                                      "tag": "tei:publisher",
                                      "children": [
                                          {
                                              "tag": "tei:orgName",
                                              "multiple": true
                                          }
                                      ]
                                  },
                                  {
                                      "tag": "tei:availability",
                                      "children": [
                                          {
                                              "tag": "tei:licence",
                                              "children": [
                                                  {
                                                      "tag": "tei:p"
                                                  }
                                              ]
                                          }
                                      ]
                                  }
                              ]
                          }
                      ]
                  }
              ],
              "ui": [
                  {
                      "label": "{% trans %}Bibliography{% endtrans %}",
                      "entries": [
                          {
                              "type": "single-text",
                              "label": "{% trans %}Title{% endtrans %}",
                              "path": "fileDesc.titleStmt.title._text"
                          },
                          {
                              "type": "single-text",
                              "label": "{% trans %}Author{% endtrans %}",
                              "path": "fileDesc.titleStmt.author.persName._text"
                          }
                      ]
                  },
                  {
                      "label": "{% trans %}Digital Version{% endtrans %}",
                      "entries": [
                          {
                              "type": "single-text",
                              "label": "{% trans %}License{% endtrans %}",
                              "path": "fileDesc.publicationStmt.availability.licence.p._text"
                          },
                          {
                              "type": "multi-row",
                              "path": "fileDesc.publicationStmt.publisher.orgName",
                              "entries": [
                                  {
                                      "type": "single-text",
                                      "label": "{% trans %}Publisher{% endtrans %}",
                                      "path": "._text"
                                  }
                              ]
                          }
                      ]
                  }
              ]
          }
      },
      "ui": {
          "closeLabel": "&#x2716;"
      }
  }
</script>
<script>
    const reader = document.querySelector('#reader-app');
    const body = document.querySelector('body');
    window.TEIReader = {
        callbacks: {
            autoLoad: function(callback) {
                let request = window.fetch('http://localhost:8080/de/people/de-la-motte-fouque-caroline/10da87bf7d10627f1cdcb25ddd43ee496ce39247ab769c4c8b4d129e521024aa.tei');
                request.then((response) => {
                    if (response.status === 200) {
                        response.text().then((data) => {
                            callback(data);
                        });
                    }
                });
                let links = document.querySelectorAll('[data-tei-reader-url]');
                for (let idx = 0; idx < links.length; idx++) {
                    let link = links[idx];
                    link.addEventListener('click', (ev) => {
                        ev.preventDefault();
                        reader.classList.remove('hidden');
                        body.classList.add('no-overflow');
                        let request = window.fetch(link.getAttribute('data-tei-reader-url'));
                        request.then((response) => {
                            if (response.status === 200) {
                                response.text().then((data) => {
                                    callback(data);
                                });
                            }
                        });
                    });
                }
            },
            close: function() {
                body.classList.remove('no-overflow');
                reader.classList.add('hidden');
            }
        }
    };
    reader.addEventListener('click', (event) => {
        if (event.target === reader) {
            body.classList.remove('no-overflow');
            reader.classList.add('hidden');
        }
    });
</script>
{% endblock body_scripts %}
