{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<main class="person">
  <div class="grid-x grid-padding-x">
    <div class="cell auto">
      <h1>{{ page.title }}</h1>
    </div>
    <nav class="cell shrink">
      <ul class="menu">
        <li class="menu-text">
          {% if page.verification == 'full' %}
            <span title="{% trans %}The information on this page has been verified{% endtrans %}">
              <svg viewBox="0 0 24 24" class="icon success">
                <path d="M21,4H16V20H21V4M14,9H9V20H14V9M7,14H2V20H7V14Z" />
              </svg>
            </span>
          {% elif page.verification == 'partial' %}
            <span title="{% trans %}The information on this page has been verified partially{% endtrans %}">
              <svg viewBox="0 0 24 24" class="icon warning">
                <path d="M19.5,5.5V18.5H17.5V5.5H19.5M21,4H16V20H21V4M14,9H9V20H14V9M7,14H2V20H7V14Z" />
              </svg>
            </span>
          {% else %}
            <span title="{% trans %}The information on this page has not been verified{% endtrans %}">
              <svg viewBox="0 0 24 24" class="icon alert">
                <path d="M19.5,5.5V18.5H17.5V5.5H19.5M12.5,10.5V18.5H10.5V10.5H12.5M21,4H16V20H21V4M14,9H9V20H14V9M7,14H2V20H7V14Z" />
              </svg>
            </span>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-8 large-7">
      <section>{{ page.content }}</section>
      {% if page.works %}
        <section>
          <h2>{% trans %}Works{% endtrans %}</h2>
        </section>
      {% endif %}
      {% if page.links %}
        <section>
          <h2>{% trans %}Links{% endtrans %}</h2>
          <ul class="no-bullet grid-x grid-padding-x">
          {% for label, field in PERSON_LINK_CATEGORIES %}
            {% if page.links[field] %}
              <li class="cell small-6 medium-4 large-3">
                <span class="sc">{{ label }}</span>
                <ul class="no-bullet">
                  {% for key, value in page.links[field].items() %}
                    {% if value %}
                      <li><a href="{{ value.value.url }}" target="_blank" rel="noopener">
                        <svg viewBox="0 0 24 24" class="icon small">
                          <path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
                        </svg>
                        {% if 'label' in value.value %}{{ value.value.label }}{% else %}{{ key }}{% endif %}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </section>
      {% endif %}
      {% if page.sources %}
        <section class="sources">
          <h2>{% trans %}Sources{% endtrans %}</h2>
          <ul class="no-bullet grid-x grid-padding-x">
            {% for source in page.sources %}
              <li class="cell small-12">
                <div class="label">{{ source.value }}</div>
                <div class="source"><a href="{{ source.source }}">{{ source.source }}</a></div>
                <div class="timestamp">{{ source.timestamp|format_timestamp }}</div>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    </div>
    <aside class="cell small-12 medium-4 large-5">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12">
          <h2>{% trans %}Personal Information{% endtrans %}</h2>
        </div>
        {% for label, field, type in PERSON_METADATA %}
          {% if page[field] and page[field] %}
            <section class="cell small-12 large-6">
              <h3>{{ label }}</h3>
              <ul class="no-bullet">
                {% for value in page[field] %}
                  <li>{% if type == 'timestamp' %}{{ value.value|format_timestamp }}{% else %}{{ value.value }}{% endif %}</li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}
        {% endfor %}
      </div>
    </aside>
  </div>
</main>
{% endblock content %}
