{
  "data": {
    "attributes": {
      "names": [
        "Hrotsvitha",
        "Hrosvitha",
        "Hroswitha",
        "Roswitha"
      ],
      "content": [
        "Secular canoness, dramatist, and poet"
      ]
    }
  }
}