{
  "data": {
    "attributes": {
      "names": [
        "Hrotsvit",
        "Gandeshemensis",
        "Gesta Ottonis",
        "Hrotsvith",
        "Hrotsvitha Gandeshemensis",
        "Hroswitha",
        "Hrotswith",
        "Hrotsvitha",
        "Roswith",
        "Hrotsvit von Gandersheim",
        "Roswitha von Gandersheim",
        "Hrosvith",
        "Hrotsvith von Gandersheim"
      ],
      "content": [
        "Autorin des Fr\u00fchmittelalters"
      ]
    }
  }
}