{
  "data": {
    "attributes": {
      "names": [
        "Margareta Ebner",
        "Margarete Ebner"
      ],
      "content": [
        "katholische Mystikerin des Mittelalters"
      ]
    }
  }
}