{
  "data": {
    "attributes": {
      "names": [
        "Herrad von Landsberg",
        "Herrad von Hohenburg",
        "Herradis Landsbergensis"
      ],
      "content": [
        "\u00c4btissin und Schriftstellerin im Hochmittelalter"
      ]
    }
  }
}