{
  "data": {
    "attributes": {
      "names": [
        "Herrad of Landsberg",
        "Herrad von Hohenbourg",
        "von Hohenbourg",
        "Herrad von Landsberg"
      ],
      "content": [
        "abbess from Alsace"
      ]
    }
  }
}