/*
 * ARIA Compliant Menu
 */
*[role="menu"] {
    @include menu-base;

    &[aria-orientation="vertical"] {
        @include menu-direction('vertical');
    }

    li {
        position: relative;

        &.menu-text {
            @include menu-text;
        }

        *[role="menuitem"] {
            &[aria-haspopup="true"] {
                position: relative;
                padding-#{$global-right}: $dropdownmenu-arrow-padding;

                &::after {
                    @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, down);
                    position: absolute;
                    #{$global-right}: 5px;
                    #{$global-left}: auto;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &[aria-current="true"] {
                font-weight: bold;
            }
        }

        & > *[role="menu"] {
            display: none;
            position: absolute;
            z-index: 1;
            box-shadow: 0 10px 10px $light-gray;
            background: $white;

            *[role="menu"] {
                position: absolute;
                top: 0;
                left: 100%;
            }
        }

        &:hover {
            & > *[role="menu"] {
                display: block;
            }
        }
    }
}
