.margin-bottom {
    margin-bottom: $global-margin;
}
.large-margin-bottom {
    margin-bottom: $global-margin * 2;
}
.sc {
    font-family: 'Playfair Display SC', Georgia, serif;
    font-variant: small-caps;
}
