html {
    font-display: swap;
}

.margin-bottom {
    margin-bottom: $global-margin;
}

.large-margin-bottom {
    margin-bottom: $global-margin * 2;
}

.sc {
    font-variant: small-caps;
}

.hidden {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

ul, ol {
    &.inline {
        margin-left: 0;

        li {
            list-style-type: none;
            display: inline-block;

            &::after {
                content: ', ';
            }

            &:last-child::after {
                content: '';
            }
        }
    }
}

h1, h2, h3 {
    color: $purple;
}
