svg.icon {
    width: 24px;
    height: 24px;

    circle {
        fill: $white;
        stroke: $black;

        &.thick {
            stroke-width: 2;
        }
    }

    &.small {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

    &.alert {
        path {
            fill: $alert-color;
        }
    }

    &.warning {
        path {
            fill: $warning-color;
        }
    }

    &.success {
        path {
            fill: $success-color;
        }
    }
}

[role="menu"] {
    svg.icon {
        width: 18px;
        height: 18px;
    }
}

a {
    svg.icon {
        path {
            fill: $anchor-color;
        }
    }

    &:hover {
        svg.icon {
            path {
                fill: $anchor-color-hover;
            }
        }
    }
}
