article {
    .metadata {
        font-size: rem-calc(13);
        position: relative;
        top: -$global-padding / 2;
    }
}
aside {
    font-size: rem-calc(16);

    h3 {
        font-family: $body-font-family;
        font-weight: normal;
        font-size: rem-calc(16);
        font-variant: small-caps;
    }

    dl {
        dt {
            font-weight: normal;
            font-variant: small-caps;
        }
        dd {
            margin-bottom: $global-margin;
        }
    }
}
