article {
    .metadata {
        font-size: rem-calc(13);
        position: relative;
        top: -$global-padding / 2;
    }
}
aside {
    font-size: rem-calc(16);

    h3 {
        font-family: 'Playfair Display SC', Georgia, serif;
        font-weight: normal;
        font-size: rem-calc(16);
    }

    dl {
        dt {
            font-family: 'Playfair Display SC', Georgia, serif;
            font-weight: normal;
        }
        dd {
            margin-bottom: $global-margin;
        }
    }
}
