.person {
    section {
        padding-bottom: $global-padding;

        &.sources {
            div.label {
                font-variant: small-caps;
            }
            div.timestamp {
                font-size: 80%;
            }
        }
    }
}
