.person-list {
    li {
        a {
            display: block;
        }

        span {
            display: block;
            margin-left: $global-margin;
            font-size: 80%;
        }
    }
}

.person {
    > div:first-child {
        margin-bottom: $global-margin*2;
        align-items: flex-end;
    }

    section {
        padding-bottom: $global-padding;

        &.sources {
            div.label {
                font-variant: small-caps;
            }
            div.timestamp {
                font-size: 80%;
            }
        }
    }

    .digitised-works {
        dl {
            margin-bottom: 0;
        }

        li {
            margin-bottom: $global-margin;

            .book-metadata {
                font-size: 10pt;
                padding-left: $global-padding * 2;
            }

            .license {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .dropdown-pane {
            li {
                margin-bottom: 0;
            }
        }
    }

    .work {
        font-style: italic;
    }

    aside {
        li {
            margin-left: $global-margin;
            text-indent: -$global-margin;
        }
    }
}
