.person {
    section {
        padding-bottom: $global-padding;

        &.sources {
            div.label {
                font-variant: small-caps;
            }
            div.timestamp {
                font-size: 80%;
            }
        }
    }

    .digitised-works {
        dl {
            margin-bottom: 0;
        }

        li {
            margin-bottom: $global-margin;

            .book-metadata {
                font-size: 10pt;
                padding-left: $global-padding * 2;
            }

            .book-copies {
                font-size: 10pt;
                padding-left: $global-padding * 2;

                li {
                    align-items: center;
                }

                h4 {
                    font-size: 10pt;
                    font-weight: bold;
                }

                .license {
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                a {
                    svg {
                    }
                }
            }
        }
    }
}
