#reader-app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 1000;
    background: #ffffff66;
    overflow: hidden;
    font-size: 12pt;

    #app {
        max-width: 72rem;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        background: $white;
        box-shadow: 0 0 10px $dark-gray;

        &.mode-large {
            height: calc(100% - 2rem);
            transform: translateY(1rem);

            > div {
                > nav {
                    padding-left: $global-padding;
                }
            }
        }

        &.mode-small {
            .text-reader, .metadata-reader {
                nav {
                    border-right: 0;
                    background: $purple;
                    font-size: 12pt;

                    a {
                        color: $white;

                        &:hover {
                            color: scale-color($white, $lightness: -14%);
                        }

                        &[aria-checked="true"] {
                            text-decoration: none;
                        }
                    }
                }

                .small-menu-open {
                    nav {
                        a {
                            &[aria-checked="true"] {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .tei-reader {
            > div {
                > nav {
                    background: $purple;

                    a {
                        display: block;
                        padding: 0.3rem 1rem;
                        color: $white;

                        &[aria-checked="true"] {
                            background: $white;
                            color: $purple;
                        }
                    }

                    li:last-child {
                        flex: 1 1 auto;
                        text-align: right;
                    }
                }
            }
        }

        .metadata-reader {
            nav {
                border-right: 1px solid $purple;

                a {
                    display: block;
                    padding: $global-padding/2 $global-padding;
                    color: $purple;

                    &:hover {
                        color: scale-color($purple, $lightness: -14%);
                    }

                    &[aria-checked="true"] {
                        text-decoration: underline;
                    }
                }


                &:nth-child(2) {
                    li:last-child {
                        flex: 0 0 auto;
                        text-align: left;
                    }
                }

            }
        }

        .text-reader {
            font-size: 10pt;

            nav {
                border-right: 1px solid $purple;

                a {
                    display: block;
                    padding: $global-padding/2 $global-padding;
                    color: $purple;

                    &:hover {
                        color: scale-color($purple, $lightness: -14%);
                    }

                    &[aria-checked="true"] {
                        text-decoration: underline;
                    }
                }
            }

            aside {
                border-left: 1px solid $purple;
                padding-top: $global-padding;
                font-size: 10pt;

                a {
                    color: $purple;

                    &:hover {
                        color: scale-color($purple, $lightness: -14%);
                    }
                }
            }
        }

        .node-title-page {
            margin-bottom: 5rem;
            text-align: center;
        }
        .node-title-part {
            margin-bottom: 1rem;
            font-size: 120%;
        }
        .node-doc-edition {
            margin-bottom: 1rem;
        }
        .node-doc-imprint {
            font-size: 80%;
            margin-bottom: 1rem;
        }
        .node-byline {
            margin-bottom: 1rem;
        }
        .node-head {
            font-size: 16pt;
            margin-bottom: 1rem;
            line-height: 125%;
        }
        .node-lg {
            margin-bottom: 1rem;
        }
        .node-p {
            margin-bottom: 1rem;
        }
        .node-lb {
            display: block;
        }
        .node-choice-ref {
            text-decoration: dotted underline;
            cursor: pointer;
        }
        .node-choice {
        }
        .node-corr {
            font-style: italic;
        }
        .node-corr::after {
            content: ']';
            font-style: normal;
            padding-left: 0.2rem;
            padding-right: 1rem;
        }
        .node-sic {
            display: block;
            padding-left: 2rem;
        }

        [data-style="font-size-very-large"] {
            font-size: 150%;
        }

        [data-style="letter-spacing-wide"] {
            letter-spacing: 2.5pt;
        }

        [data-style="font-style-italic"] {
            font-style: italic;
        }

        [data-style="font-style-bold"] {
            font-weight: bold;
        }

        [data-style="font-sans-serif"] {
            
        }

        .metadata-reader {
            font-size: 11pt;

            section {
                margin-bottom: $global-margin;
            }

            .field {
                display: block;
                margin-bottom: $global-margin / 2;

                > .label {
                    font-style: italic;
                }
            }

            .multi-row {
                margin: 0;

                > li {
                    list-style-type: none;

                    > div {
                        > .field {
                            margin-bottom: 0;

                            > .label {
                                display: none;
                            }
                        }
                    }

                    &:first-child {
                        > div {
                            > .field {
                                > .label {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
