.top-bar-full-width {
    background: $purple;
    margin-bottom: $global-margin*3;
}

.top-bar {
    color: $white;
    margin-bottom: $global-margin * 2;
}
.top-bar-left li:first-child a {
    position: relative;
    left: -$global-padding / 2;
    font-size: rem-calc(24);
    font-family: 'Playfair Display SC', Georgia, serif;

    &:link, &:visited, &:hover {
        color: $white;

        &[aria-current="true"] {
            color: $white;
        }
    }

    small {
        display: block;
        font-size: rem-calc(16);
        font-family: 'Playfair Display', Georgia, serif;
        margin-top: $global-margin / 4;
    }
}
.top-bar-right {
    border-bottom: 1px solid $white;

    .menu {
        &.dropdown, &.submenu {
            > li {
                > a {
                    background: $purple;
                    color: $white;

                    &::after {
                    }
                }
            }
        }
    }
}

.top-bar-scrolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $purple;
    z-index: 1;
    font-size: rem-calc(14);
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;

    .top-bar {
        margin-bottom: 0;
        padding: 0;

        .top-bar-left {
            li:first-child {
                a {
                    font-size: rem-calc(16);

                    small {
                        font-size: rem-calc(14);
                    }
                }
            }
        }
    }
}
.scrolling {
    .top-bar-scrolling {
        max-height: 200px;
        box-shadow: 0 0 10px $dark-gray;
    }
}
